<% var base_cdn='https://cdn.jsdelivr.net/npm/theme-component@' ; %>
<% var base_url=process.env.CI_COMMIT_TAG ? base_cdn + process.env.CI_COMMIT_TAG : '..' ; %>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8/normalize.min.css">
<script src="<%= base_url %>/js/script.js" async></script>