<!doctype html>
<html lang="en">

<head>
    <%- include('template/head'); -%>
        <title>Data Search</title>
</head>

<body>
    <form data-search="google">
        <input name="search" type="search" placeholder="Search..." required>
    </form>
</body>

</html>