<!doctype html>
<html lang="en">

<head>
    <%- include('template/head'); -%>
    <title>Data Toggle</title>
    <style>
        div::after {
            content: ' untoggled';
        }

        div.toggled::after {
            content: ' toggled';
        }
    </style>
</head>

<body>
    <button data-toggle="#div-1, #div-2">Toggle</button>
    <div id="div-1">DIV-1</div>
    <div id="div-2" class="toggled">DIV-2</div>
</body>

</html>